<nav class="navbar navbar-dark bg-dark">

    <div class="container-fluid">

        <span class="navbar-brand">

            🚚 TransitOps

        </span>

        <a
            href="/logout"
            class="btn btn-danger btn-sm">

            Logout

        </a>

    </div>

</nav>