<div class="col-md-2 bg-dark vh-100">

    <div class="list-group list-group-flush mt-3">

        <a href="/dashboard"
            class="list-group-item list-group-item-action">

            Dashboard

        </a>

        <a href="/vehicles"
            class="list-group-item list-group-item-action">

            Vehicles

        </a>

        <a href="/drivers"
            class="list-group-item list-group-item-action">

            Drivers

        </a>

        <a href="/trips"
            class="list-group-item list-group-item-action">

            Trips

        </a>

        <a href="/maintenance"
            class="list-group-item list-group-item-action">

            Maintenance

        </a>

        <a href="/fuel"
            class="list-group-item list-group-item-action">

            Fuel

        </a>

        <a href="/reports"
            class="list-group-item list-group-item-action">

            Reports

        </a>

    </div>

</div>