                <h2>

                    Dashboard

                </h2>

                <hr>

                <h4>

                    Welcome

                    <%= user.name %>

                </h4>

                <p>

                    Role :

                    <strong>

                        <%= user.role %>

                    </strong>

                </p>